@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Source+Serif+4:ital,wght@0,300;1,400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: linear-gradient(to right, blue,white);
}
.title{
    text-align: center;
    color: rgb(239, 239, 243);
    font-family: 'Quintessential', cursive;
    
    
} 
